@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";
@import "tailwindcss";

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}


.page-container {
  @apply max-w-6xl mx-auto px-4 min-h-screen;
}